@charset "UTF-8";

/*
PALETA DE CORES
ROSA CLARO : #F2D5ED
AZUL ESCURO: #0477BF
AZUL MEDIO: #048ABF
AZUL OCEANO: #04B2D9
AZUL ESVERDEADO: #04C4D9
*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #048ABF;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section > div#imagem{
    display: block;
    background: #048ABF url(../imagens/login_wallpaper.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}

div#formulario{
    h1{
        text-align: center;
        margin-bottom: 10px;
    }
}

div#formulario > p{
    font-size: 0.8em;
    text-align: center;
}

form label{
    display: none;
}

form > div.campo{
    background-color: #04B2D9;
    width: 100%;
    display: block;
    height: 30px;
    border-radius: 10px;
    margin: 5px 0px;
}

form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #F2D5ED;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.527);
}

form > input[type="submit"]:hover{
    background-color: #eb73d7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    padding-top: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

form > a.botao:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.527);
    background-color: #92d4db;
    transition: 0.3s;
}